# --- Frontend ---
/frontend/node_modules/
/frontend/dist/
/frontend/.vite/
/frontend/build/
/frontend/.env
/frontend/.vscode/

# --- Backend ---
/backend/node_modules/
/backend/public/
/backend/log/
/backend/tmp/
/backend/.env
/backend/.vscode/

# --- Root ---
/node_modules/
/.vscode/
/.env
.DS_Store
Thumbs.db
