/* Hiệu ứng xuất hiện & biến mất */
.fadeIn {
  animation: fadeIn 0.3s forwards;
}

.fadeOut {
  animation: fadeOut 0.3s forwards;
}

/* Hiệu ứng trượt lên và trượt xuống */
.slideUp {
  animation: slideUp 0.4s ease-out forwards;
}

.slideDown {
  animation: slideDown 0.4s ease-in forwards;
}

/* Hiệu ứng mờ nền */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Hiệu ứng trượt popup */
@keyframes slideUp {
  from {
    transform: translateX(100vh);
    opacity: 0;
  }
  to {
    transform: transition(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100vh);
    opacity: 0;
  }
}

/* Overlay nền */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: right;
  //   justify-content: center;
  //   align-items: center;
  z-index: 999;
}

/* Popup chính */
.popup {
  background: var(--color-background);
  border-top-left-radius: var(--size-pdSm);
  border-bottom-left-radius: var(--size-pdSm);
  border-left: 1px solid var(--color-border);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

/* Nội dung bên trong */
.message {
  margin-bottom: 20px;
}

.divButton {
  display: flex;
  justify-content: right;
  gap: var(--size-gapMd);
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: var(--size-pdMd);
  font-size: var(--size-fontMd);
  transition: background-color 0.3s;
}

.primary {
  background-color: #007bff;
  color: white;
}

.secondary {
  background-color: #6c757d;
  color: white;
}

.tertiary {
  background-color: #f8f9fa;
  color: #333;
}
