.body {
  display: flex;
  background-color: var(--color-accent);
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 700px;
  align-items: center;
  justify-content: start;
  padding-top: var(--size-pdXl);
  background-color: var(--color-background);
  border-radius: var(--size-rdsMd);
}

.txLabel {
  margin-top: var(--size-mrMd);
  // align-self:flex-start;
}
.input {
  width: 300px;
  height: 30px;
}

.button {
  margin-top: var(--size-pdMd);
}
