.wrapper {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.toast {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 18px;
  width: 400px;
  height: 30px;
  border-radius: var(--size-rdsMd);
  color: var(--color-white);
  background: var(--color-backgroud);
  font-size: 14px;
  font-weight: 500;
  animation: slideIn 250ms ease-out;
  transition: all 500ms ease;
}

.success {
  opacity: 0.5;
  background: var(--color-success, #4caf50);
}

.error {
  opacity: 0.5;
  background: var(--color-danger, #ef5350);
}

.warning {
  opacity: 0.5;

  background: var(--color-warning, #ff9800);
}

.info {
  opacity: 0.5;

  background: var(--color-info, #2196f3);
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 0.5;
    transform: translateY(20px);
  }
}

.closing {
  opacity: 0;
  transform: translateY(0px);
}
