.wrapper {
  position: relative;
  display: inline-flex;
  width: 100px;
  height: 100px;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover; // ảnh luôn full khung, không méo
  display: block;
}

.addAvatar {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;

  width: 40;
  height: 50;
  background-color: var(--color-white);
  border-radius: 50%;
}
