.body {
  border-radius: 50%;
  height: 100;
  width: 100;
  position: relative;
}

.image {
  border-radius: 50%;
}

.addAvatar {
  position: absolute;
  bottom: 1px;
  right: -1px;
  z-index: 100;
  border-radius: 50%;
  border: 1px solid var(--color-border);
  height: 50px;
  width: 50px;
}
