.body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: var(--color-background);
  width: 100%;
  // overflow: hidden; /* Không cho cuộn */
  box-sizing: border-box; /* Đảm bảo padding không làm tăng kích thước tổng thể */
}

.navbar {
  background-color: var(--color-primary);
  height: 100px;
  height: var(--size-heSm);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: var(--size-pdMd);
  gap: var(--size-gapSm);
}

.button {
  font-weight: bold;
  font-size: var(--size-fontSm);
}

.cbbLanguage {
  width: 80px;
}

.divMenuColumn {
  width: 50px;
  background-color: var(--color-primary);
}

.all {
  overflow: hidden; /* Không cho cuộn */
  display: flex;
  height: 100%;
}

.outlet {
  border: 1px solid var(--color-primary);
}

.image {
  border-radius: 50%;
  border: 1px solid var(--color-border);
  height: 50px;
  width: 50px;
}

.nameText {
  color: var(--color-white);
}
