.lefNavbar {
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Không cho cuộn */
}

.divLeft {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
}

.divTop {
  // flex: 1;
  border: 1px solid var(--color-border);
}

.bodyHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.content {
  flex: 1;
  display: flex;
  gap: 10px;
  overflow: hidden;
}

.cardInfo {
  flex: 1;
  border: 1px solid var(--color-border);
  padding: var(--size-pdMd);
}

.cardInfo1 {
  padding: var(--size-pdMd);
  width: 400px;
}

.userList {
  // flex: 2;
  border: 1px solid var(--color-border);
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
