.body {
  // display: flex;
  // justify-content: center;
  // padding: 20px;
  // border: 1px solid #9f9a9a;
}

.cardInfo {
  flex: 0 0 auto; /* Không co, không giãn, chỉ vừa nội dung */
  width: fit-content;
  height: fit-content;
  margin-right: 10px;
  flex: 1; /* <-- phần này giúp khối phải chiếm toàn bộ phần còn lại */
  border: 1px solid #9f9a9a;
  padding: 15px;
  // height: 400px;
}

.userList {
  overflow-y: auto; /* cho phép cuộn dọc */
  height: 100vh; /* Giới hạn chiều cao toàn màn hình */
  border: 1px solid #9f9a9a;
  padding: 10px;
}
