.body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* full màn hình */
  background-color: var(--color-background);
  padding: 10px;
  width: 100%;
  overflow: hidden; /* Không cho cuộn */
  box-sizing: border-box; /* Đảm bảo padding không làm tăng kích thước tổng thể */
}

.navbar {
  border: 1px solid var(--color-border);
  height: var(--size-heSm);
}

.divMenuColumn {
  width: 40px;
  border: 1px solid var(--color-border);
}

.divLeft {
  display: flex;
  flex: 2;
  flex-direction: column;
  gap: 10px;
}

.divTop {
  flex: 1;
  border: 1px solid var(--color-border);
}

.bodyHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
}

.content {
  flex: 1;
  display: flex;
  gap: 10px;
  overflow: hidden;
  // border: 1px solid var(--color-border);
}

.cardInfo {
  flex: 1;
  border: 1px solid var(--color-border);
  padding: var(--size-pdSm);
}

.userList {
  flex: 1;
  border: 1px solid var(--color-border);
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
