.body {
  background-color: var(--color-background);
  padding: 10px;
  // border: 1px solid #9f9a9a;
}

.bodyHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cardInfo {
  flex: 0 0 auto; /* Không co, không giãn, chỉ vừa nội dung */
  width: fit-content;
  height: fit-content;
  margin-right: 10px;
  flex: 1; /* <-- phần này giúp khối phải chiếm toàn bộ phần còn lại */
  border: 1px solid #9f9a9a;
  padding: 15px;
}

.userList {
  display: flex;
  flex-direction: column;
  gap: 8px; // thêm khoảng cách giữa các card
  overflow-y: auto; /* cho phép cuộn dọc */
  height: 100vh; /* Giới hạn chiều cao toàn màn hình */
  border: 1px solid #9f9a9a;
  padding: 10px;
  scrollbar-width: thin; /* (Firefox) thanh cuộn nhỏ gọn */
  scrollbar-color: #999 transparent;
}
