.body {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-wrap: wrap; /* Cho phép xuống hàng */
  gap: var(--size-gapXl);
  justify-content: left; /* hoặc space-around / space-evenly */
}

.buttonWrapper {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end; /* canh phải */
}

.title {
  margin-bottom: var(--size-mrMd);
}
