.body {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  gap: 20px;
}

.label {
  font-weight: 600;
  margin-top: 10px;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end; /* canh pháº£i */
}
