.body {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  gap: 20px;
  justify-content: space-between; /* hoặc space-around / space-evenly */
}

.label {
  font-weight: 600;
  margin-bottom: 5px;
}

.buttonWrapper {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end; /* canh phải */
}
