.card {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border: 1px solid #9f9a9a;
  border-radius: var(--size-rdsSm);
  background-color: var(--color-backgroud);
}

.cardContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cardHeader {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
}

.cardBody {
  display: flex;
  gap: 10px;
}

.focus {
  border: 2px solid var(--color-primary, #000);
  box-shadow: 0 0 20px var(--focus-primary);
}

.cardColumn {
  width: 250px;
}

.cardColumnButon {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center; /* canh giữa theo chiều dọc */
  justify-content: flex-end;
  height: auto;
}

.info {
  display: flex;
  gap: 4px;
}
