.card {
  display: flex;
  // flex-direction: row-reverse;
  justify-content: space-between;
  width: 650px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #9f9a9a;
  border-radius: 8px;
  background-color: #fff;
}

.cardHeader {
  margin-bottom: 12px;
}

.cardBody {
  display: flex;
  gap: 10px;
}

.cardColumn {
  width: 250px;
}

.cardColumnButon {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center; /* canh giữa theo chiều dọc */
  justify-content: flex-end;
  height: auto;
}

.cardTitle {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.info {
  display: flex;
  gap: 4px;
}

.infoLabel {
  font-weight: 600;
}
