.button {
  padding: 8px 6px;
  border: none;
  border-radius: var(--size-rdsMd);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: var(--color-background) 0.3s ease;
}

.primary {
  background: var(--color-primary, #000);
  color: var(--color-white);

  &:hover {
    background: var(--color-accent, #000);
  }
  &:active {
    background: var(--color-secondary);
  }
}

.danger {
  background: #dc3545;
  color: var(--color-white);
  &:hover {
    background: #c82333;
  }
  &:active {
    background: #ccccd0;
  }
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
