.combobox {
  position: relative;
  display: flex;
  align-items: center; /* canh giữa theo chiều dọc */
  justify-content: space-between; /* đẩy chữ sang trái, icon sang phải */
  width: 150px;
  height: 20px;
  padding: 4px 8px;
  font-size: 14px;
  border: 1px solid var(--color-border);
  border-radius: var(--size-rdsSm);
  background-color: var(--color-background);
  cursor: pointer;
  user-select: none;
}

.focused {
  border-color: var(--color-primary);
  box-shadow: 0 0 5px var(--color-primary);
}

.selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text);
}

.options {
  position: absolute;
  top: 130%;
  left: 0;
  right: 0;
  background: var(--color-background);
  border: 1px solid var(--color-border, #ccc);
  border-radius: var(--size-rdsSm);
  max-height: 180px;
  overflow-y: auto;
  z-index: 5;
  border-color: var(--color-primary); /* màu khi focus */
  box-shadow: 0 0 5px var(--color-primary);
}

.option {
  padding-left: var(--size-pdSm);
  transition: var(--color-backgroud) 0.2s;
}

.option:hover {
  background: var(--color-secondary);
}

.active {
  background: var(--color-primary);
}

.arrow {
  //   position: absolute;
  //   right: 8px;
  //   top: 50%;
  //   transform: translateY(-50%);
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}
