.body {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text);
}

.input {
  font-size: 14px;
  padding: 4px 12px;
  border-radius: var(--size-rdsSm);
  border: 1px solid var(--color-border);
  outline: none;
  // width: 100%;
  transition: all 0.2s ease;
}

/* Hover và focus */
.input:focus {
  border-color: var(--color-primary);
}

/* Variant styles */
.default {
  background-color: var(--color-background);
}

.outlined {
  border: 1px solid var(--color-primary);
  background-color: transparent;
}

.filled {
  background-color: var(--color-secondary-light);
  border: none;
}

/* Color styles */
.text {
  color: var(--color-text);
}

.primary {
  color: var(--color-primary);
}

.danger {
  color: var(--color-danger);
}

/* Disabled */
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
