.icon {
  color: var(--color-text);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
}

/* ----------------------------
    FONT ICON (chỉ tăng font-size)
-----------------------------*/
.icon.xs {
  font-size: var(--size-fontXs);
}
.icon.sm {
  font-size: var(--size-fontSm);
}
.icon.md {
  font-size: var(--size-fontMd);
}
.icon.lg {
  font-size: var(--size-fontLg);
}
.icon.xl {
  font-size: var(--size-fontXl);
}

/* ----------------------------
    HIỆU ỨNG CHUNG
-----------------------------*/
.spin {
  animation: spin 1s linear infinite;
}

.clickable {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    transform: scale(1.1);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
