.body {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer; // hiển thị tay chuột
  transition: transform 0.1s ease;

  :active {
    transform: scale(0.9); // thu nhỏ nhẹ khi nhấn
  }
}

.icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

