.body {
  display: flex;
  flex-direction: column;
}

.input {
  font-size: 14px;
  padding: 4px 8px;
  width: 150px;
  height: 20px;
  border-radius: var(--size-rdsSm);
  background-color: var(--color-background);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  outline: none;
  transition: all 0.2s ease;
  aspect-ratio: 1 / 1; /* chiều cao = chiều rộng */
}

.textarea {
  font-size: 14px;
  padding: 4px 8px;
  width: auto;
  height: 20px;
  border-radius: var(--size-rdsSm);
  background-color: var(--color-background);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  outline: none;
  transition: all 0.2s ease;
}

.textarea:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 5px var(--color-primary);
}

.input:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 5px var(--color-primary);
}

/* color */
.primary {
  color: var(--color-primary);
}

.secondary {
  color: var(--color-secondary);
}

.danger {
  color: var(--color-danger);
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
