.body {
  display: flex;
  align-items: center;
  padding: (var(--size-pdXs));
  justify-content: space-between;
  border: 1px solid var(--color-border);
  border-radius: var(--size-rdsSm);
  background-color: var(--color-background);
  transition: all 0.2s ease;
}

.input {
  flex: 1;
  padding: 0 30px 0 10px;
  border: none;
  outline: none;
  font-size: 14px;
  background: transparent;
  color: var(--color-text);
}

// .icon {
//   cursor: pointer;
//   font-size: 16px;
//   user-select: none;
//   color: var(--color-text-secondary);
//   transition: 0.2s;

//   &:hover {
//     color: var(--color-primary);
//   }
// }

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.primary {
  border-color: var(--color-primary);
}

.secondary {
  border-color: var(--color-secondary);
}

.danger {
  border-color: var(--color-danger);
}

.focused {
  border-color: var(--color-primary);
  box-shadow: 0 0 5px var(--color-primary);
}
