.cardButton {
  width: 50px;
  height: 28px;
  border-radius: 20px;
  background-color: #ccc;
  position: relative;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.cringle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: white;
  transition: transform 0.6s ease;
}

.on {
  background-color: #61b788;

  .cringle {
    transform: translateX(22px);
  }
}

.off {
  background-color: #ccc;

  .cringle {
    transform: translateX(0);
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
